{% extends "layout.html" %}

{% set active_page = "airport" %}

{% block title %}Airport Data{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Choose an Airport Below</h1>
    <h3>View Data on Different Airports in the US</h3>

    <form action ='/airportresponse' id = airportform>
            <label for="aps">Choose an airport:</label>
            <select id="aps" name="aps">
                <option value="ATL">Atlanta (ATL)</option>
                <option value="BOS">Boston (BOS)</option>
                <option value="BWI">Baltimore (BWI)</option>
                <option value="CTL">Charlotte (CTL)</option>
                <option value="DCA">Washington D.C. (DCA)</option>
                <option value="DEN">Denver (DEN)</option>
                <option value="DFW">Dalllas Fort Worth (DFW)</option>
                <option value="DTW">Detroit (DTW)</option>
                <option value="EWR">Newark (EWR)</option>
                <option value="FLL">Fort Lauderdale (FLL)</option>
                <option value="IAD">Washington D.C. International (IAD)</option>
                <option value="IAH">Houston (IAH)</option>
                <option value="JFK">New York: John F. Kennedy International (JFK)</option>
                <option value="LAS">Las Vegas (LAS)</option>
                <option value="LAX">Los Angeles (LAX)</option>
                <option value="LGA">New York: LaGuardia (LGA)</option>
                <option value="MCO">Orlando (MCO)</option>
                <option value="MDW">Chicago: Midway International (MDW)</option>
                <option value="MIA">Miami (MIA)</option>
                <option value="MSP">Minneapolis (MSP)</option>
                <option value="ORD">Chicago: O'Hare International (ORD)</option>
                <option value="PDX">Portland (PDX)</option>
                <option value="PHL">Philadelphia (PHL)</option>
                <option value="PHX">Phoenix (PHX)</option>
                <option value="SAN">San Diego (SAN)</option>
                <option value="SEA">Seattle (SEA)</option>
                <option value="SFO">San Francisco (SFO)</option>
                <option value="SLC">Salt Lake City (SLC)</option>
                <option value="TPA">Tampa Bay (TPA)</option>

            </select>

            <label for="years">Choose a year:</label>
            <select id="years" names='years'>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2009</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
            </select>

            <label for="months">Choose a month:<label>
            <select id="months" names='months'>
                <option value="1">January</option>
                <option value="2">Febuary</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>




             <input type="submit" value="Submit">

        </form>
{% endblock %}
