{%extends "layout.html" %}

{% set active_page = "delayresponse" %}

{% block headc %}
    <script>
    window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title:{
            text: "Number of Delays at Airports Over Time"
        },
        axisX: {
            valueFormatString: "####,##"
        },
        axisY: {
            title: "# of Delays",
            suffix: " Delays"
        },
        legend:{
            cursor: "pointer",
            fontSize: 16,
            itemclick: toggleDataSeries
        },
        toolTip:{
            shared: true
        },
        data: [{
            name: "{{cDL}}",
            type: "spline",
            yValueFormatString: "######",
            showInLegend: true,
            dataPoints: [
                {{dP}}

            ]
        }
        ]
    });
    chart.render();

    function toggleDataSeries(e){
        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        }
        else{
            e.dataSeries.visible = true;
        }
        chart.render();
    }

    }
    </script>
{% endblock %}
{% block title %}Delay Response{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Delay Data</h1>


    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



{% endblock %}
