{% extends "layout.html" %}

{% set active_page = "delay" %}

{% block title %}Delay Data{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Delay Page</h1>
    <h5>
        Anything from a deflated tire to a runaway tornado can slow down the come and go of planes at an airport, look below to find information about the different kinds of airline delays.
    </h5>
    <form action="/delayresponse" id="dform">
        <label for="dlays"> </label>
        <select id="dlays" name="dlays">
        <option value="Carrier">Carrier</option>
        <option value="Late Aircraft">Late Aircraft</option>
        <option value="National Aviation System">National Aviation System</option>
        <option value="Security">Security</option>
        <option value="Weather">Weather</option>
        </select>

        <label for="apz">Choose an airport:</label>
        <select id="apz" name="apz">
            <option value="ATL">Atlanta (ATL)</option>
            <option value="BOS">Boston (BOS)</option>
            <option value="BWI">Baltimore (BWI)</option>
            <option value="CTL">Charlotte (CTL)</option>
            <option value="DCA">Washington D.C. (DCA)</option>
            <option value="DEN">Denver (DEN)</option>
            <option value="DFW">Dalllas Fort Worth (DFW)</option>
            <option value="DTW">Detroit (DTW)</option>
            <option value="EWR">Newark (EWR)</option>
            <option value="FLL">Fort Lauderdale (FLL)</option>
            <option value="IAD">Washington D.C. International (IAD)</option>
            <option value="IAH">Houston (IAH)</option>
            <option value="JFK">New York: John F. Kennedy International (JFK)</option>
            <option value="LAS">Las Vegas (LAS)</option>
            <option value="LAX">Los Angeles (LAX)</option>
            <option value="LGA">New York: LaGuardia (LGA)</option>
            <option value="MCO">Orlando (MCO)</option>
            <option value="MDW">Chicago: Midway International (MDW)</option>
            <option value="MIA">Miami (MIA)</option>
            <option value="MSP">Minneapolis (MSP)</option>
            <option value="ORD">Chicago: O'Hare International (ORD)</option>
            <option value="PDX">Portland (PDX)</option>
            <option value="PHL">Philadelphia (PHL)</option>
            <option value="PHX">Phoenix (PHX)</option>
            <option value="SAN">San Diego (SAN)</option>
            <option value="SEA">Seattle (SEA)</option>
            <option value="SFO">San Francisco (SFO)</option>
            <option value="SLC">Salt Lake City (SLC)</option>
            <option value="TPA">Tampa Bay (TPA)</option>

        </select>
         <input type="submit" value="Submit">
    </form>
{% endblock %}
