{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Home Page</h1>

    <p>
        The data in this webpage contains information pertaining to the different causes of delays in flight departures at airports across the US in the months between June 2003 - January 2016.
        The numbers at categorized by the different types of delays that plague airports, these are weather, national airspace system, late aircraft, carrier problems, and security. It also gives
        the breakdown of how many of the flights were cancelled, delayed, diverted, or on time. The time wasted by these delays is calculated in total minutes, and each individual airport is designated by its three letter code assigned by IATA.

        The national airspace system is is a network of both controlled and uncontrolled airspace, both domestic and oceanic.
        It also includes air navigation facilities, equipment and services; airports and landing areas; aeronautical charts, information and services; rules and regulations; procedures and technical information; and manpower and material.
        </p>
{% endblock %}
